@page "/counter"
@rendermode InteractiveServer
@inject IJSRuntime JS
@implements IAsyncDisposable

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<div @ref=chart id="main" style="width: 600px;height:400px;"></div>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }

    private IJSObjectReference? module;

    private ElementReference chart;

    protected override async  Task OnAfterRenderAsync(bool firstRender)
    {

        module = await JS.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/Counter.razor.js");

        await module.InvokeVoidAsync("GetBarChart", chart);
    }

    private void IncrementCount()
    {

        currentCount++;
    }
}
